<table>
  <tr>
    <th></th>
    <th class="rotate public"><div><span>Public Speaking</span></div></th>
    <th class="rotate public"><div><span>Canvassing</span></div></th>
    <th class="rotate public"><div><span>Tabling</span></div></th>
    <th class="rotate writing"><div><span>Writing</span></div></th>
    <th class="rotate writing"><div><span>Editing</span></div></th>
    <th class="rotate liason"><div><span>Liason</span></div></th>
    <th class="rotate research"><div><span>Political Research</span></div></th>
    <th class="rotate research"><div><span>Technical Research</span></div></th>
    <th class="rotate research"><div><span>Legal Research</span></div></th>
    <th class="rotate action"><div><span>Action Organizing</span></div></th>
    <th class="rotate action"><div><span>Action Lead</span></div></th>
    <th class="rotate action"><div><span>Action Participation</span></div></th>
    <th class="rotate organization"><div><span>Action Network</span></div></th>
    <th class="rotate organization"><div><span>Organizing Campaign Info</span></div></th>
  </tr>
  <tr>
    <td>Ken Weaver</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research">X</td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization">X</td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Mitch Chanin</td>
    <td class="public">X</td>
    <td class="public">X</td>
    <td class="public">X</td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason">X</td>
    <td class="research">X</td>
    <td class="research">X</td>
    <td class="research">X</td>
    <td class="action">X</td>
    <td class="action">X</td>
    <td class="action">X</td>
    <td class="organization">X</td>
    <td class="organization">X</td>
  </tr>
  <tr>
    <td>Florence</td>
    <td class="public">X</td>
    <td class="public"></td>
    <td class="public">X</td>
    <td class="writing">X</td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research">X</td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action">X</td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Dave Loeb</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public">X</td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Jean</td>
    <td class="public"></td>
    <td class="public">X</td>
    <td class="public">X</td>
    <td class="writing"></td>
    <td class="writing">X</td>
    <td class="liason">X</td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization">X</td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Ann</td>
    <td class="public">X</td>
    <td class="public">X</td>
    <td class="public">X</td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action">X</td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Meenal</td>
    <td class="public">X</td>
    <td class="public"></td>
    <td class="public">X</td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research">X</td>
    <td class="research">X</td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Aditya</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research">X</td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Pat Libbey</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Lou Ann</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Judy Morgan</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Michael Schreiber</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Dave and Marion</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Tam Clements</td>
    <td class="public"></td>
    <td class="public">X</td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Miriam</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Chuck Best</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public">X</td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Nadine Young</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Lindsey</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Tim Siftar</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research">X</td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Alicia Dorsey</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Sam Mastriano</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public">X</td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason">X</td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Matt Wang</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason">X</td>
    <td class="research">X</td>
    <td class="research">X</td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Sarah Davidson</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason">X</td>
    <td class="research"></td>
    <td class="research">X</td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Rhonda</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Karen Melton</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason"></td>
    <td class="research">?</td>
    <td class="research">?</td>
    <td class="research">?</td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Peter Winslow</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing">X</td>
    <td class="liason">X</td>
    <td class="research">X</td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Eugene</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action">X</td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
  <tr>
    <td>Katie Blumberh</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing"></td>
    <td class="writing"></td>
    <td class="liason"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="research"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="action"></td>
    <td class="organization"></td>
    <td class="organization"></td>
  </tr>
</table>

<app-members></app-members>

