<table>
  <tr>
    <th></th>
    <th class="rotate public"><div><span>Public Speaking</span></div></th>
    <th class="rotate public"><div><span>Canvassing</span></div></th>
    <th class="rotate public"><div><span>Tabling</span></div></th>
    <th class="rotate writing"><div><span>Writing</span></div></th>
    <th class="rotate writing"><div><span>Editing</span></div></th>
  </tr>
  <tr>
    <td>Ken Weaver</td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="public"></td>
    <td class="writing">X</td>
    <td class="writing">X</td>
  </tr>
  <tr>
    <td>Mitch Chanin</td>
    <td class="public">X</td>
    <td class="public">X</td>
    <td class="public">X</td>
    <td class="writing">X</td>
    <td class="writing">X</td>
  </tr>
</table>

<app-members></app-members>

