table {
    border-spacing: 0px 0px;
}
td {
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #ccc;
}
th {
    padding: 0px 5px;
}
th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform: 
	/* Magic Numbers */
	translate(19px, 51px)
		 /* 45 is really 360 - 45 */
		 rotate(315deg);
    width: 30px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.writing {
    color: red
}
.public {
    color: blue
}
