<h2>Members</h2>
<ul class="members">
  <li *ngFor="let member of members">
    <span class="badge">{{member.id}}</span> {{member.name}}
  </li>
</ul>
<table>
  <tr>
    <th></th>
    <th *ngFor="let skill of skills" class="rotate {{skill.category}}">
      <div><span>{{skill.name}}</span></div>
    </th>
  </tr>
  <tr *ngFor="let member of members">
    <td>{{member.name}}</td>
    <td *ngFor="let skill of skills" class={{skill.category}}>
      <div *ngIf="member.skills.includes(skill.id)">X</div>
    </td>
  </tr>
</table>
