table {
    border-spacing: 0px 0px;
}
td {
    text-align: center;
    padding: 0px 0px;
    border: 1px solid #ccc;
}
th {
    padding: 0px 5px;
}
th.rotate {
    /* Something you can count on */
    height: 140px;
    white-space: nowrap;
}

th.rotate > div {
    transform: 
	/* Magic Numbers */
	translate(19px, 51px)
		 /* 45 is really 360 - 45 */
		 rotate(315deg);
    width: 30px;
}
th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.skill-box {
    padding: 10px 5px;
    background-clip: border-box;
}

.writing {
    color: #305891
}
.writing.skill {
    background-color: #305891;
}
.public {
    color: #0F81E8;
}
.public.skill {
    background-color: #0F81E8;
}
.liason {
    color: #FFA902;
}
.liason.skill {
    background-color: #FFA902;
}
.research {
    color: #40D7D4;
}
.research.skill {
    background-color: #40D7D4;
}
.action {
    color: #FF6112;
}
.action.skill {
    background-color: #FF6112;
}
.organizing {
    color: #124452;
}
.organizing.skill {
    background-color: #124452;
}
